{% extends "base.html" %}
{% block body %}
<div id="profile" style="float: right; width: 50%">
    <img
    src="http://www.gravatar.com/avatar/{{ email_md5 }}.png" alt="gravatar">
    {{ profile }}
    {% if home == user.name %}
    <p><form action="{{ server_prefix }}/formeditor"><input type="submit"
        name="edit" value="edit profile"/></form></p>
    <p><form action="{{ server_prefix }}/addemail" method="POST"><input name="email"
        size="40" value="{{ email }}"/><input type="submit" value="set email"
        /></form></p>
    {% endif %}
</div>
{% if home == user.name %}
<p>Here's your stuff {{ user.pretty_name }}.</p>
{% else %}
<p>Here's {{ home }} stuff.</p>
{% endif %}
<h1>Recipes</h1>
<ul>
{% for recipe in recipes %}
<li>{{ recipe.name }}</li>
{% endfor %}
</ul>
<h1>Bags</h1>
<ul>
{% for bag in bags %}
<li>{{ bag.name }}</li>
{% endfor %}
</ul>
{% endblock %}
