{% extends "base.html" %}
{% block body %}
<div id="profile" style="float: right; width: 50%">
    {{ profile }}
    {% if home == user.name %}
    <p><form action="{{ server_prefix }}/formeditor"><input type="submit" name="edit" value="edit me"/></form></p>
    {% endif %}
</div>
{% if home == user.name %}
<p>Here's your stuff {{ user.pretty_name }}.</p>
{% else %}
<p>Here's {{ home }} stuff.</p>
{% endif %}
<h1>Recipes</h1>
<ul>
{% for recipe in recipes %}
<li>{{ recipe.name }}</li>
{% endfor %}
</ul>
<h1>Bags</h1>
<ul>
{% for bag in bags %}
<li>{{ bag.name }}</li>
{% endfor %}
</ul>
{% endblock %}
